### Gradle ###
.gradle/
build/
out/

### Kotlin ###
.kotlin/

### IntelliJ IDEA ###
.idea/*
!.idea/codeStyles/
!.idea/codeStyles/Project.xml
!.idea/codeStyles/codeStyleConfig.xml
!.idea/palantir-java-format.xml
!.idea/ktfmt.xml
*.iws
*.iml
*.ipr

### Mac OS ###
.DS_Store
